.invalid-feedback {
    display: block;
    color: red;
    font-size: 12px;
    margin-top: 4px;
}

.form-container{
    display: flex;
}
/* 
.background_pic{
    background-image: url('/static/img/black.webp');
} */