.invalid-feedback {
    display: block;
    color: red;
    font-size: 12px;
    margin-top: 4px;
}

.form-container{
    display: flex;
}

/* .background_pic{
    background-image: url('/static/img/concrete.jpg');
} */

.page-container {
    height: 100vh; /* 100% of the viewport height */
    display: flex;
    flex-direction: column;
}

.bottom-half {
    background-color: black;
    flex: 1; /* Make the bottom half take up remaining space */
    align-items: center;
    text-align: center;
}

.top-half {
    background-image: url('/static/img/concrete.jpg'); /* Replace with your image path */
    background-size: cover; /* Cover the entire top half */
    flex: 1; /* Make the top half take up remaining space */
}

.updates{
    margin-top: 30px;
}

.features{
    margin-bottom: 40px;
}

.vibes_container{
    margin-top: 70px;
}

.IG{
    width: 50px;
}

.vibes_header{
    color: white;
    font-size: 70px;
}